<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.newpay.webauth.dal.mapper.DbSequenceMapper">

	<resultMap id="dbSquenceResultMap" type="com.newpay.webauth.dal.model.DbSequence">
			<result property="seqName" column="SEQ_NAME" jdbcType="VARCHAR"/>
			<result property="seqValue" column="SEQ_VALUE" jdbcType="NUMERIC"/>
	</resultMap>
	<select id="getLoginUserNewPK" resultType="LONG">
		<![CDATA[
			select SEQ_LOGIN_USER_NEW_PK.Nextval from dual
		]]>
	</select>
	<select id="getSeqNextval" resultType="LONG">
		<![CDATA[
			select #{seqName}.Nextval from dual
		]]>
	</select>
	
</mapper>

